#searchInput{
    display: block;
    margin: 0 auto;
}

.book{
    font-size: 1.2em;
    margin: 15px;
}

.checkbox-container{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

#title, #author, #isbn{
    margin: 1px 5px;
}